name: EBS Security SAST scan


permissions:
  contents: read
  security-events: write

on:
  workflow_dispatch:
    inputs:
      Jira_No:
        description: Jira ticket number
        required: true
      FileNames:
        description: Comma separated file names
        required: false
      CUSTOM_TOP:
        description: Custom top directory
        required: true
        default: $XXDEMO_TOP
        type: choice
        options:
        - $XXDEMO_TOP
        - $XXDEMOC_TOP
      Migration_File:
        description: Migration excel filename 
        default: optional
        required: false 

env:
  # Static / migrated ADO variable equivalents (override in repo or add to workflow_dispatch inputs)
  BASE_PATH: "/u01/buildsrv/EBSHOME_github"
  LIVE: Demo                # <- set to your runtime folder name
  CUSTOM_TOP: ${{ inputs.CUSTOM_TOP }}
  FileNames: ${{ inputs.FileNames }}
  Jira_No: ${{ inputs.Jira_No }}
  Repo_Directory: None
  Migration_File: ${{ inputs.Migration_File }}
  BUILD_NUMBER: ${{ github.run_number }}
  REQUESTED_FOR: ${{ github.actor }}
  REQUESTED_FOR_EMAIL: "abcd@abcd.com"    # Not directly available in GitHub; supply via secret or input if needed
  GIT_AUTHOR_NAME: github-actions
  GIT_AUTHOR_EMAIL: actions@users.noreply.github.com

jobs:

  Semgrep:
    runs-on: ubuntu-latest
    name: SAST-Semgrep
      
    steps:
      - name: Checkout (develop)
        uses: actions/checkout@v4
        with:
          ref: develop
          fetch-depth: 0   # get tags
          fetch-tags: true
          
      - name: Semgrep installation
        run: |
          pip install semgrep

      - name: Run Semgrep Scan
        run: semgrep scan --config auto --output semgrep-results.sarif --sarif

      - name: Upload SARIF to GitHub Security tab
        uses: github/codeql-action/upload-sarif@v3
        with:
          sarif_file: semgrep-results.sarif


  SonarQube:
    runs-on: ubuntu-latest
    name: SAST-SonarQube
      
    steps:
      - name: Checkout (develop)
        uses: actions/checkout@v4
        with:
          ref: develop
          fetch-depth: 0   # get tags
          fetch-tags: true
          

      - name: Install SonarScanner CLI
        run: |
          curl -sSLo sonar-scanner.zip https://binaries.sonarsource.com/Distribution/sonar-scanner-cli/sonar-scanner-cli-4.8.0.2856-linux.zip
          unzip sonar-scanner.zip -d $HOME
          echo "$HOME/sonar-scanner-4.8.0.2856-linux/bin" >> $GITHUB_PATH

      - name: Run SonarQube Scan
        run: |
          sonar-scanner \
            -Dsonar.projectKey=my-oracle-ebs-project \
            -Dsonar.sources=. \
            -Dsonar.host.url=http://your-sonarqube-server:9000 \
            -Dsonar.login= 
